@reference "tailwindcss";

.menuSection {
  @apply text-xl ml-7 mb-4 text-sky-700 
         font-semibold tracking-wider;
}

.menuItem {
  @apply pl-14 mb-1 text-lg font-medium tracking-wider
         hover:text-sky-700 hover:bg-stone-200
         active:text-white active:bg-sky-700
         cursor-pointer p-2;
}

.inputItem {
  @apply rounded-sm border-2 border-stone-950
         w-100 h-11 mt-10 ml-6 mt-3 p-2;
}

.buttonSearch {
  @apply rounded-sm bg-sky-700 text-stone-200
         w-20 h-11 mt-10 ml-4 mt-3 p-2
         hover:bg-stone-400
         active:text-white active:bg-sky-700;
}

.buttonCreat {
  @apply rounded-sm bg-teal-600 text-stone-200
         w-20 h-11 mt-10 ml-4 mt-3 p-2
         hover:bg-stone-400
         active:text-white active:bg-sky-700;
}

.pItem {
  @apply text-stone-200 font-medium tracking-wider
}